.four-div {
    height: 300px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
  }
  
  .four-div-block {
    width: 25%;
  
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
  }
  .four-div-block > div > img:hover {
    transform: scale(1.022);
  }
  .four-div-block > div {
    text-align: center;
  }
  .four-div-block > div > img {
    /* transform: scale(1.022); */
    transition: transform 0.2s ease;
    width: 90%;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .four-div-block-upper1 {
    width: 100%;
    height: 5px;
    background-color: rgb(119, 0, 255);
  }
  .four-div-block-upper2 {
    width: 100%;
    height: 5px;
    background-color: rgb(240, 76, 22);
  }
  .four-div-block-upper3 {
    width: 100%;
    height: 5px;
    background-color: rgb(74, 152, 37);
  }
  .four-div-block-upper4 {
    width: 100%;
    height: 5px;
    background-color: rgb(228, 142, 22);
  }
  .discription {
    flex-wrap: wrap;
    font-size: 13.5px;
    /* text-align: center; */
  }

  .row2MainDiv{
    margin-top: 100px;
  }

  .topClassP{
    font-size: 2.34rem;
  }